@CHARSET "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-color : rgb(16, 18, 20);
	font-family: 'Helvetica';
	overflow: hidden;
}

	
#container{
	width: 100%;
}

#left_title, #right_title {
	width: 20%;
	margin:10px;
}

#left_title {
	float: left;
}

#right_title {
	float: right;
	margin-top : 10px;
}

#main_title {
	color : white;
	font-size: 40px;
}
